<style>
   .faq-section {
    height: 100px;
    color: red !important; /* Using important to override other potential rules */
}

</style>

<div class="faq-section">
    <div class="faq-width">
        <div class="faq-body">
            {% for block in section.blocks %}
                {% if block.type == 'category' %}
                    <h2 class="faq-page-category">
                        {{ block.settings.title }}
                    </h2>
                    {% else %}
                     <div class="faq-page-question">
                        <header class="faq-page-question-header">
                            <h3>{{ block.settings.title }}</h3>
                        </header>
                        <div class="faq-page-question-body">
                            {{ block.settings.body }}
                        </div>
                     </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "FAQ",
      "tag": "section",
      "settings": [
        {
          "type": "text",
          "id": "faq_header",
          "label": "Header title",
          "default": "Frequently Asked Questions"
        },
        {
          "type": "richtext",
          "id": "faq_text",
          "label": "Header text",
          "default": "<p>Some information about the FAQs.</p>"
        }
      ],
      "blocks":[
        {
          "type": "category",
          "name": "Category",
          "settings": [
            {
              "type": "text",
              "id": "category_title",
              "label": "Category title",
              "default": "General Questions"
            }
          ]
        },
        {
          "type": "question",
          "name": "Question",
          "settings": [
            {
              "type": "text",
              "id": "question_title",
              "label": "Question title",
              "default": "What is your return policy?"
            },
            {
              "type": "richtext",
              "id": "answer_text",
              "label": "Answer text",
              "default": "<p>We accept returns within 30 days of purchase.</p>"
            }
          ]
        }
      ],
      "presets": [{
        "name": "FAQ Block"
      }]
    }
    {% endschema %}
    